body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Inter", sans-serif;
}
p {
  font-family: "Inter", sans-serif;
}
button {
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}
